<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563544756968-3204qb5nd13pe1ml1vaoolu9l4rjlmla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563544756968-3204qb5nd13pe1ml1vaoolu9l4rjlmla</string>
	<key>API_KEY</key>
	<string>AIzaSyBY5q91qSN274jPEw39NpHL74yigr_dFQE</string>
	<key>GCM_SENDER_ID</key>
	<string>563544756968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterlogin2</string>
	<key>PROJECT_ID</key>
	<string>flutterlogin2-5ffce</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlogin2-5ffce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563544756968:ios:0782ff9668e8ec083e2f5d</string>
</dict>
</plist>